
<div>
    <h2><span>Customer</span> {{vm.customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.customer.name}}</span>
        </dd>
        <dt><span>Site</span></dt>
        <dd>
            <span>{{vm.customer.site}}</span>
        </dd>
        <dt><span>Cnpj</span></dt>
        <dd>
            <span>{{vm.customer.cnpj}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{vm.customer.address}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
